.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 100px 100px;
    row-gap: 15px;
    column-gap: 10px;
    border: 10px;
}
.grid-container2{
    display: grid;
    grid-template-columns: 430px 430px 430px;
    grid-template-rows: 100px 100px 100px;
    row-gap: 15px;
    column-gap: 10px;
    border: 10px;
}
.grid-item{
    background-color: white;
}
.item1{
    grid-column: 1/4;
    grid-row: 1/15;
}
.item2{
    grid-column: 1/4;
    grid-row: 1/18;
}
.fgi{
    grid-row:1/18;	
}

header .grid-item{
    background-image: url(https://atarde.com.br/img/Artigo-Destaque/1260000/Novo-Os-Caca-Fantasmas-e-uma-continuacao-aquem-par0126545000202404111052.jpg?xid=6176113);
    background-repeat: no-repeat;
    background-size: 1290px 500px;  
}
h1{
    text-align: center;
    margin-top: 200px;
    margin-left: -40px;
    color: #2f516c;
}
#img1{
    width: 700px;
    height: 300px;
    margin-left: 290px;
}
.img2{
    width: 300px;
    height: 350px;
    margin-left: 60px;
}
.txt{
   font-size: 15px;
   width: 300px;
   margin-left: 60px;
}
h4{
   margin-left: 60px;
}

